<h2>Создание пользователя:</h2>
<hr>
<form (submit)="createUser($event)">
  <div class="form-group">
    <label for="name"><b>Name</b></label>
    <input type="text" name="name" id="name" class="form-control" #nameInput/>
  </div>
  <div class="form-group">
    <label for="email"><b>E-mail</b></label>
    <input type="text" name="email" id="email" class="form-control" #emailInput/>
  </div>
  <div>
    <input type="checkbox" id="active" #isActive>
    <label for="active" style="margin-left: 10px; margin-bottom: 20px"><b>Active</b></label>
  </div>
  <p><b>Choose your role</b></p>
  <select #roleInput>
    <option>Пользователь</option>
    <option>Редактор</option>
    <option>Администратор</option>
  </select>
  <button type="submit" id="button" class="btn btn-primary">Create</button>
</form>
