<h2>Создание группы:</h2>
<hr>
<form>
  <div class="form-group">
    <label for="name"><b>Name</b></label>
    <input type="text" name="name" id="name" class="form-control" #nameInput/>
  </div>
  <button type="submit" id="button" class="btn btn-primary">Create</button>
</form>
