<div class="body">
  <div class="group-1">
    <app-new-user (addUser)="onAddClick($event)"></app-new-user>
    <hr>
    <app-new-group id="group"></app-new-group>
  </div>
  <app-users [users]="users" class="column"></app-users>
  <app-group></app-group>
</div>

