<div class="user">
  <div class="container">
    <h3 style="margin-top: 10px;">{{ user.name }}</h3>
    <hr>
    <p><b>E-mail</b>: {{ user.email }}</p>
    <hr>
    <p><b>Is active</b>: {{ user.active }}</p>
    <hr>
    <p><b>User role</b>: {{ user.role }}</p>
  </div>
</div>
